html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

a {
  color: #3b8ef3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

figure{
  text-align:center;
  margin: 0px;
}
figcaption{color:grey;font:14px arial;margin-bottom:30px;}

img {
  margin-bottom: 10px;
  max-width: 620px;
  max-height: 500px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 768px) {
img {
  width: 100%;
  height: auto;
}
}