/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'prism.css';
@import 'b-card.css';

@layer utilities {
  .font-palt {
    font-feature-settings: 'palt' 1;
  }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-palt;
  }
  a {
    @apply hover:opacity-70 break-all;
  }
}

body {
  margin: 0;
  font-family: "Helvetica Neue",
  Arial,
  "Hiragino Kaku Gothic ProN",
  "Hiragino Sans",
  Meiryo,
  sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.8;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
